RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^testimonycare\.co\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.testimonycare\.co\.uk$
RewriteRule ^/?$ "https\:\/\/testimonycare\.co\.uk\/" [R=301,L]